npm-debug.log
node_modules
typings
example/node_modules
example/app/**/**.js
.idea
.npmignore
lib
tests/testing-utils.d.ts
tests/testing-utils.js.map
tests/testing-utils.js
tests/spec/**.js
tests/spec/**.js.map
tests/spec/**.d.ts
tests/webpack.test.d.ts
tests/webpack.test.js
tests/webpack.test.js.map
coverage