header { 
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 0;
}

header img {
  height: 40px;
  width: auto;
}

main {
  padding: 10px;
}

footer {
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

footer a {
  display: inline-block;
  padding: 10px;
}